<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>My Chart.js Chart</title>
</head>
<body>
  <div class="container">
    <canvas id="myChart" width="400" height = "400"></canvas>
  </div>

  <script>
    const xs = [];
    const ys = [];
    createChart();

    async function createChart(){
    let myChart = document.getElementById('myChart').getContext('2d');

    // Global Options
    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#777';

    await getData();
    let massPopChart = new Chart(myChart, {

      type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{
        labels: xs,
        datasets:[{
          label:'reviewScore',
          data: ys,
          fill: false,
          //backgroundColor:'green',
          backgroundColor:[
            'rgba(255, 99, 132, 0.6)',
          ],
          borderWidth:1,
          borderColor:'#777',
          hoverBorderWidth:3,
          hoverBorderColor:'#000'
        }]
      }
    });
  }

    async function getData() {

      fetch('http://localhost:8080/getAllGames')
      .then(
      function(response) {
        if (response.status !== 200) {
          console.log('Looks like there was a problem. Status Code: ' +
          response.status);
          return;
        }

        response.json().then(function(data) {
          for (let i = 0; i < 30; i++) {
            xs.push(data[i].title);
            ys.push(data[i].reviewScore);
          }
          console.log(xs, ys);
        });
      }
      )
      .catch(function(err) {
        console.log('Fetch Error :-S', err);
      });
    };
  </script>
</body>
</html>
